* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container {
    max-width:901px;
    margin: 0 auto;
}
header {
    height:100px;
    position:relative;
}
nav {
    position:absolute;
    top:30px;
    overflow:auto;
    width: 100%;
}
header img {
    float:left;
}
h1 {
    font-family:'Yellowtail','cursive';
    font-size:2.6em;
    line-height: 0.9;
    font-weight:500;
}
.logo-text-container {
    float:left;
    margin-left:4px;
}
header p, .section-header p{
    font-family:'Calibri',sans-serif;
    text-transform:uppercase;
    font-weight:100;
    font-size:.5em;
    margin-left:3px;
}
.section-header p {
    margin-left:0;
    font-size:.7em;
    color:#A5A9AA;
}
.icon-container {
    margin-top:12px;
    float:right;
}
.social-menu, .contact-menu, .ingredients-list{
    list-style: none;
}
.social-menu, .contact-menu {
    display:inline-block;
}
.social-menu {
    margin-right:10px;
}
.social-menu li, .contact-menu li {
    display:inline-block;
}
.slash-divider {
    width:901px;
}
h2 {
    font-family:'Impact', sans-serif;
    font-weight:600;
    font-size: 2.5em;
}
.section-header {
    margin:50px 0 30px 0;
}
.section-content p {
    text-indent: 50px;
    color:#525857;
    margin: 8px 0 0px 0;
}
.yellow-paper {
    height:200px;
    background-color: #FDFAEB;
    border-radius: 3px;
}
.ingredients-list li{
    margin: 0 0 5px 0;
}
.ingrdOne, ingrdTwo {
    float:left;
}

